@model hainadeblanaSite.Models.Comanda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataComanda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataComanda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.NumeUtilizator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.NumeUtilizator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComandaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
