@model IEnumerable<hainadeblanaSite.Models.Comanda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataComanda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.NumeUtilizator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataComanda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.NumeUtilizator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComandaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComandaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComandaID })
        </td>
    </tr>
}

</table>
