@model hainadeblanaSite.Models.ProdusImagine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdusImagine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CaleImagine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaleImagine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produs.NumeProdus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produs.NumeProdus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImagineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
