@model HainadeblanaSite.Models.ProdusComanda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdusComanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comanda.ComandaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comanda.ComandaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produs.NumeProdus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produs.NumeProdus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProdusComandaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
