@model IEnumerable<hainadeblanaSite.Models.ProdusComanda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comanda.ComandaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produs.NumeProdus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comanda.ComandaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produs.NumeProdus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdusComandaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdusComandaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdusComandaID })
        </td>
    </tr>
}

</table>
