@model IEnumerable<hainadeblanaSite.Models.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataFacturare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comanda.ComandaID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataFacturare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comanda.ComandaID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FacturaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FacturaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FacturaID })
        </td>
    </tr>
}

</table>
